<div class="aside">
    <div>
        <p>Nombre: Neabit Electronic Store</p>
        <p>Email: neabitcompras@gmail.com </p>
        <p>Dirección: Jr. El inca 605</p>
        <p>teléfono: 958130894</p>
    </div>
    <br>

    <div class="social">
        <ul>
            <li>
                <a href="https://www.facebook.com/NeaBit/" target="_blank" class="icon-facebook"> <img src="assets/img/fb.png" width=30px height="30px" alt=""></a>
            </li>
            <li>
                <a href="https://wa.link/okhrzz" target="_blank" class="icon-whatsapp"><img src="assets/img/wp.png" width=30px height="30px" alt=""></a>
            </li>
            <li>
                <a href="https://www.instagram.com/neabitelectronic/?hl=es" target="_blank" class="icon-instagram"><img src="assets/img/ig.png" width=30px height="30px" alt=""></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/carlos-daniel-vargas-llamo-80667a172/" target="_blank" class="icon-linkedin"><img src="assets/img/in.png" width=30px height="30px" alt=""></a>
            </li>
        </ul>
    </div>
    <br>
    <p>NeaBit, tecnología que te pone a la vanguardia! compra aquí lo último en electrónica,audífonos y accesorios al mejor precio! Lleva la originalidad contigo!</p>

    <br>
</div>